{% extends 'base.html.twig' %}

{% block title %}Supression de Crypto{% endblock %}

{% block body %}

<div class="row py-2 px-3">
    <div class="col-1 nav-button">
        <a href="/"> <i class="fas fa-times"></i></a>
    </div>
    <div class="col-10 nav-titre ">
        Ajouter une transaction
    </div>
</div>
{{ form_start(form) }}
<div class="row mt-5">
    <div class="col-12 mt-5">
        {{ form_widget(form.symbol,{'attr':{'placeholder':'Sélectionner une crpto','class':'input-add'}}) }}
    </div>
    <div class="col-12 mt-5">
        {{ form_widget(form.quantite,{'attr':{'placeholder':'Quantité','class':'input-add'}}) }}
    </div>
</div>
<div class="row mt-5">
    <div class="col-12 mt-5 text-center">
        <button class="btn px-5 py-2">
            Supprimer
        </button>
    </div>
</div>
 {{ form_widget(form.prix_achat,{'attr':{'hidden':true}}) }}
 <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ crypto.id) }}">

{{ form_end(form) }}



{% endblock %}