{% extends 'base.html.twig' %}

{% block title %}Crypto index{% endblock %}

{% block body %}
<div class="row py-2 px-3">
    <div class="col-10 nav-titre ">
        crypto tracker
    </div>
    <div class="col-1 nav-button ">
        <a data-toggle="collapse" href="#symbols" aria-expanded="false" aria-controls="contentId"><i
                class="fas fa-pen "></i></a>


    </div>
    <div class="col-1 nav-button">
        <a href="{{ path('crypto_new') }}"><i class="fas fa-plus "></i></a>
    </div>
    <div class="collapse absolute col-12 text-right" id="symbols">
        {% for crypto in cryptos %}
        {{crypto.symbol}}
        <a href="{{ path('crypto_edit', {'id': crypto.id}) }}">
            <i class="fas fa-pen    "></i>
        </a>
        <a href="{{ path('crypto_delete', {'id': crypto.id}) }}">
            <i class="fas fa-trash    "></i>
        </a>
        <br />
        {% endfor %}
    </div>
</div>
<div class="col-12 total text-center">
    {% if total.total>0 %}
    +
    {% endif %} {{(total.total)|number_format(2,'.',' ')}} €
</div>
{% for crypto in cryptos %}

<div class="row px-5 ">
    <div class="col-2">
        <img src="{{asset('build/icons/'~crypto.symbol|lower~'.png')}}">
    </div>
    <div class="col-9 my-auto">
        {{crypto.symbol}}({{total.data[crypto.symbol].name}})
    </div>
    <div class="col-1 my-auto">
        {% set change = total.data[crypto.symbol].quote['EUR'].percent_change_24h %}
        {% set icone = asset('build/img/fleche.png') %}
        {% if change < 0 %} {% set icon='<img src="' ~icone~'" style=" -webkit-transform: scaleY(-1);
  transform: scaleY(-1);"></img>' %}
            {% else %}
            {% set icon = '<img src="'~icone~'"></img>' %}
            {% endif %}
            {{icon|raw}}
            {% if change|abs>5 %}
            {{icon|raw}}
            {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr>
    </div>
</div>
{% endfor %}

{{ render_chart(chart, {'class': 'chart'}) }}


{% endblock %}